.max-tam {
  width: 100%;
}

.title {
  overflow: hidden;
  flex-basis: 100%;
  display: block;
  flex-flow: wrap;
  word-wrap: break-word;
  width: 100%;
}

.icons-task {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
