<ng-container *transloco="let t; read: 'kanban'">
  <mat-card class="example-container">
    <mat-card-actions class="actions-top">
      <mat-card-title>
        <span>
          {{ list.titleList }}
        </span>
      </mat-card-title>
      <button mat-icon-button>
        <mat-icon>drag_indicator</mat-icon>
      </button>
    </mat-card-actions>

    <div
      class="example-list"
      cdkDropList
      [cdkDropListData]="this.list.items"
      (cdkDropListDropped)="dropMultiList($event)"
    >
      <div *ngFor="let item of this.list.items" cdkDrag>
        <div class="drop-placeholder" *cdkDragPlaceholder></div>
        <app-card-item [item]="item"> </app-card-item>
      </div>
    </div>

    <app-generic-expansion-input
      [labelProperty]="t('kanban-add-item')"
      (inputCreated)="createItem($event)"
    >
    </app-generic-expansion-input>
  </mat-card>
</ng-container>
