<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>add</mat-icon> {{labelProperty}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form class="container" [formGroup]="formInput">
    <mat-form-field appearance="outline">
      <input
        matInput
        type="text"
        formControlName="inputGeneric"
      />

    </mat-form-field>
    <button
      [disabled]="!this.formInput.valid"
      (click)="addInput()"
      mat-raised-button
      color="primary"
    >
      {{labelProperty}}
    </button>
  </form>

</mat-expansion-panel>
